[submodule "lib/aave-helpers"]
	path = lib/aave-helpers
	url = https://github.com/bgd-labs/aave-helpers
[submodule "lib/aave-umbrella"]
	path = lib/aave-umbrella
	url = https://github.com/bgd-labs/aave-umbrella
