[submodule "lib/aave-umbrella"]
	path = lib/aave-umbrella
	url = https://github.com/aave-dao/aave-umbrella
[submodule "lib/aave-helpers"]
	path = lib/aave-helpers
	url = https://github.com/aave-dao/aave-helpers
[submodule "lib/aave-risk-agents"]
	path = lib/aave-risk-agents
	url = https://github.com/aave-dao/aave-risk-agents
