# mac artifacts
.DS_Store

# build and cache
cache/
out/
zkout/

# general
.env
.env.bk

# editors
.idea

node_modules
yarn.lock

# ignore foundry deploy artifacts
broadcast/

reports/*
!reports/seatbelt

# tooling download folder
etherscan

verify.json
