[submodule "lib/aave-helpers"]
	path = lib/aave-helpers
	url = https://github.com/bgd-labs/aave-helpers
	branch = fix/add-missing-3.1-updates
[submodule "lib/ccip"]
	path = lib/ccip
	url = https://github.com/aave/ccip
[submodule "lib/gho-core"]
	path = lib/gho-core
	url = https://github.com/aave/gho-core
