name: Ipfs uploader
# Uploads all changed md files to ipfs once merged to main
# Comments the pr

concurrency:
  group: ${{ github.workflow }}
# cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      myCommit:
        description: "Commit SHA1"
        required: true
        default: "undefined"
        type: string
  pull_request:
  push:
    branches:
      - main

jobs:
  ipfs-upload:
    runs-on: ubuntu-latest
    name: Ipfs uploader
    steps:
      - name: Generate a token
        id: generate_token
        if: github.event_name != 'pull_request'
        uses: actions/create-github-app-token@v2.2.1
        with:
          app-id: ${{ secrets.UPDATE_BOT_APP_ID }}
          private-key: ${{ secrets.UPDATE_BOT_TOKEN }}

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token || github.token }}
          ref: ${{ inputs.myCommit }}
          persist-credentials: true

      - uses: bgd-labs/github-workflows/.github/actions/setup-node@main

      - name: Get all changed *.md file(s)
        id: changed-files
        uses: tj-actions/changed-files@f79274f27befa7e1bf6d5eb1c4964c0f65cea226
        with:
          json: true
          write_output_files: true
          files: |
            src/**/*.md

      - name: Run step if any *.md file(s) change
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          cat .github/outputs/all_changed_files.json

      - name: replace main with hash
        if: github.event_name != 'pull_request' && steps.changed-files.outputs.any_changed == 'true'
        run: |
          json_array=($(jq -r '.[]' ".github/outputs/all_changed_files.json"))
          for i in "${json_array[@]}"
          do
            # Extract filename without extension
            file_name=$(basename "$i" .md)
            echo "Processing: $i (file: $file_name)"

            if [[ "$file_name" == "README" ]]; then
              echo "Skipping $i (README.md file)"
            else
              npx prettier $i --write
              sed -i 's@https://github.com/aave-dao/aave-proposals-v3/blob/main/@https://github.com/aave-dao/aave-proposals-v3/blob/${{ github.sha }}/@g' $i
              sed -i 's@https://github.com/aave-dao/aave-proposals-v3/tree/main/@https://github.com/aave-dao/aave-proposals-v3/blob/${{ github.sha }}/@g' $i
            fi
          done

      - name: Upload
        if: steps.changed-files.outputs.any_changed == 'true'
        env:
          PINATA_KEY: ${{ secrets.PINATA_KEY }}
          PINATA_SECRET: ${{ secrets.PINATA_SECRET }}
        run: |
          json_array=($(jq -r '.[]' ".github/outputs/all_changed_files.json"))
          for i in "${json_array[@]}"
          do
            # Extract filename without extension
            file_name=$(basename "$i" .md)
            echo "Processing: $i (file: $file_name)"

            if [[ "$file_name" == "README" ]]; then
              echo "Skipping $i (README.md file)"
            else
              npx @bgd-labs/aave-cli ipfs ${{ github.event_name != 'pull_request' && '-u' || ''}} $i
            fi
          done

      - name: check diff and potentially commit
        if: github.event_name != 'pull_request' && steps.changed-files.outputs.any_changed == 'true'
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          if [[ -z $(git status --porcelain src) ]]
          then
            echo "tree is clean"
          else
            git config --global user.name 'Cache bot'
            git config --global user.email 'cache-bot@bgdlabs.com'
            git config --global pull.rebase true
            git stash
            git checkout ${{ github.event.repository.default_branch }}
            git pull origin ${{ github.event.repository.default_branch }}
            git stash apply
            git add src
            git commit -am "fix(cache): automated cache update [skip ci]"
            git push origin ${{ github.event.repository.default_branch }}
            exit
          fi
